html {
    margin: 0;
    padding: 0;
}


.mb-3 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.mb-3 button {
    margin-top: 3%;
    width: 30%;
}

#date {
    text-align: center; 
    font-size: 22px;
}

#current-date{
    display: inline-block;
    width: 50%;
}

#current-location {
    font-size: 18px;
}

#current-details {
    font-size: 18px;
}

.form-control {
    width: 70%;
    margin: 0 auto;}